<header>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/posts">Posts</a>
    </li>
    <li>
      <a href="/registerposts">Cadastro de posts</a>
    </li>
  </ul>
</header>